*{
    box-sizing: border-box;
}
@font-face {
    font-family: Inter-light;
    src: url(fuentes/Inter/static/Inter-Light.ttf);
}

@font-face {
    font-family: Medium-light;
    src: url(fuentes/Inter/static/Inter-Medium.ttf);
}
@font-face {
    font-family: Bold-light;
    src: url(fuentes/Inter/static/Inter-Bold.ttf);
}
body::before{
    background-image: url(images/pattern-curve.svg);
    position: fixed;
    content: "";
    bottom: 0;
    width: 610px;
    height: 155px;
    background-repeat:no-repeat;
    background-size: cover;
}
body{
    margin: 0;
    font-family: Inter;
    font-size: 32px;
}
main{
    /* border: solid 1px darkgoldenrod; */
    width: 1200px;
    height: 657px;
    margin: auto;
    position: relative;
    /* z-index: 1; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: row-reverse; */
    /* margin-left: 15px; */
}
.profile{
    width: 100%;
    width: 540px;
    height: 550px;
    margin-left: 67px;
    box-shadow: 0 20px 20px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
main aside:nth-child(1) {
    width: 100%;
    /* min-width: 245px; */
    height: auto;
    position: absolute;
    /* right: 75px; */
    width: 697px;
    height: 657px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    top: 0;
    right: 0;
    z-index: -1;
}
main aside:nth-child(1)::before{
    content: "";
    width: 100%;
    height: 100%;
    /* width: 120px; */
    /* height: 100px; */
    position: fixed;
    position: absolute;
    background-image:url(images/pattern-bg.svg);
    /* background-repeat:no-repeat; */
    top: 0;
    left: 0;
    z-index: -2;
}
main aside article:nth-child(1){
    /* border: solid 1px purple; */
    width: 541px;
    height: 540px;
    position: relative;
    top: 0px;
    left: 0px;
}
.boton{
    width: 113px;
    height: 56px;
    background-color: white;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 10%);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.quotes{
    position: relative;
    top: 65px;
    left: 170px;
    /* justify-content: stretch; */
    /* align-items: start; */
    /* align-self: flex-start; */
}
main aside:nth-child(2){
    /* border: solid 1px sandybrown; */
    display: flex;
    position: relative;
    width: 100%;
    width: 613px;
    /* min-width: 680px; */
    height: auto;
    height: 343px;
    /* min-height: 530px; */
    /* z-index: 1; */
    /* align-items: center; */
    flex-direction: column;
}
main aside:nth-child(2)::before{
    content: "";
    background-image: url(images/pattern-quotes.svg);
    width: 120px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 100px;
}
.txt{
    position: absolute;
    width: 42%;
    left: 158px;
}
span{
    font-size: 20px;
}
.name{
    font-family: Bold-light;
}
.career{
    font-family:  Medium-light;
    color: #BAB8CE;
}
p{
    font-family: Inter-light;
    font-size: 32px;
    color: #5F5C69;
    letter-spacing: -0.5px;
    margin-top: 68px;
}
/*  MOBILE  */

@media only screen and (min-width:0px) and (max-width:700px) {
    body::before{
        width: 270px;
        height: 68px;
        /* content: ""; */
        /* width: 85%; */
        /* height: auto; */
        /* bottom: 0; */
        /* background-size: contain; */
        /* padding: 30px; */
    }
    main aside:nth-child(1)::before{
        content: "";
        width: 345px;
        height: 325px;
        width: 100%;
        height: 100%;
        /* min-height: 325px; */
        background-size: contain;
        background-repeat:no-repeat;
        left: 0px;
        top: 0px;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    main aside:nth-child(1) {
        width: 100%;
        min-width: 330px;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        z-index: 0;
        margin-bottom: 32px;
        padding: 30px 32px  23px 32px;
    }
    main{
        position: relative;
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: column-reverse;
        margin: auto;
        transform: scale(1);
        /* margin-top: 15px; */
        /* left: 0; */
        /* padding-left: 25px; */
        /* padding-right: 25px; */
        /* align-items: center; */
    }
    main aside article:nth-child(1){
        width: 100%;
        min-width: 330px;
        height: 100%;
        top: 0px;
        right: 0px;
        align-items: center;
        margin-bottom: 32px;
        padding: 30px 32px 23px 32px;
    }
    main aside article:nth-child(1)::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        background-size: contain;
    }
    main aside:nth-child(2){
        width: 100%;
        height: 100%;
        min-width: 330px;
        position: relative;
        /* justify-content: center; */
        align-items: center;
    }
    main aside:nth-child(2)::before{
        content: "";
        width: 60px;
        height: 50px;
        position: absolute;
        background-size: contain;
        top: 0;
        left: calc(50% - 30px);
    }
    .txt{
        width: 76%;
        height: 45%;
        left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        /* flex-wrap: wrap; */
        bottom: 40px;
        position: relative;
    }
    p{
        font-size: 19px;
        text-align: center;
        font-family: 'Medium-light';
        color: #645c5c;
        margin-top: 33px;
        text-align: center;
        margin-bottom: 0;
    }
    .profile{
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    .boton{
        position: absolute;
        bottom: -12px;
        left: 90px;
        width: 80px;
        height: 40px;
    }
    .img-quotes{
        width: 100%;
        height: auto;
    }
    .quotes{
        width: 60px;
        height: 50px;
        /* bottom: 100px; */
        left: 150px;
        position: absolute;
        top: -8px;
    }
    .name{
        font-size: 18px;
        /* display: block; */
    }
    .career{
        font-size: 16px;
    }
    .profesion{
        /* display: inline-grid; */
        margin: auto;
        width: 100%;
        margin-top: 25px;
        position: relative;
        display: flex;
        flex-flow: column;
    }
    .boton img{
        width: 10px;
    }
}